@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';

* {
  outline: none !important;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#Cursor{
  cursor: none;
  opacity: 0.5;
  width:  30px;
  height: 30px;
  transition-property: width,height,opacity,background-color,border-color;
}
.textC{

}

.faq-h3 {
  @apply textC transition duration-200 sm:hover:text-LunarTwilight text-NightFall text-left font-Satoshi opacity-90 sm:text-4xl text-3xl font-bold
}
.faq-P{
  @apply textC transition duration-200 sm:mt-3 mt-2 sm:hover:text-LunarTwilight text-NightFall opacity-[85%] text-xl sm:text-2xl font-Lora font-normal
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.fade-in {
  animation: fadeIn 1s ease forwards;
}


@font-face {
  font-family: 'Satoshi';
  src: url('/Fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format('truetype');
  font-weight: 400;
  }


  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }